modules = ["dotnet", "dotnet-sdk"]

[nix]
channel = "stable-24_05"
packages = ["dotnet-sdk_8", "dotnet-sdk", "dotnet-sdk_7"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build .NET Solution"

[[workflows.workflow]]
name = "Build .NET Solution"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && dotnet build GenericRepositoryEF.sln"

[deployment]
run = ["sh", "-c", "cd . && dotnet build GenericRepositoryEF.sln"]
